/* Write your CSS here */
* {
  margin: 0;
}
.bg-container {
  background-image: linear-gradient(to right, #defafe, #cffcf1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-position: center; */
}
.timer-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  height: 500px;
  width: 600px;
  background-color: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.circular-bg {
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.timer-controls-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-controls-container {
  display: flex;
}
.star-pause-container {
  display: flex;
  margin-right: 20px;
}
.reset-container {
  display: flex;
}
.indDecTimer-container {
  display: flex;
}
.indDecTimer-container-desc {
  margin-left: 10px;
  margin-right: 10px;
}
.indDecTimer-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-container {
  display: flex;
  align-items: center;
}
